<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video with Emotion</title>
</head>
<body>
    <h1>Video with Emotion</h1>
    <div style="display: flex;">
        <div style="flex: 70%;">
            <img id="video_feed" src="{{ url_for('video_feed_with_emotion') }}" width="640" height="480">
        </div>
        <div style="flex: 30%;">
            <h2>Detected Emotion:</h2>
            <p>{{ emotion }}</p>
        </div>
    </div>
</body>
</html>

